If:
  PathMatch: linux_app/.*
CompileFlags:
  CompilationDatabase: build/linux_app-host
---
If:
  PathMatch: rtos_firmware/.*
CompileFlags:
  CompilationDatabase: build/rtos_firmware-duo
---
If:
  PathMatch: common/.*
CompileFlags:
  CompilationDatabase: build/linux_app-host
